
<li class="<%= active?(posts_path) %>">
  <%= link_to "Entries", posts_path %>
</li>

<li class="<%= active?(new_post_path) %>">
  <%= link_to "Request Overtime", new_post_path, id: 'new_post_from_nav' %>
</li>

<% if current_user %>
  <ul class="custom-nav nav nav-tabs">
    <li class="<%= active?(root_path) %>">
      <%= link_to "", root_path, class: 'glyphicon glyphicon-home' %>
    </li>

    <%= render 'shared/employee_nav_items' if employee? %>

    <%= render 'shared/audit_log_tab' if admin? %>
  </ul>
<% end %>